body {
    /*background: transparent url(../images/content-background.gif) repeat-x scroll left top;*/
    /*background:#F9F7F5 none repeat scroll 0 0;*/
    font-family: "Helvetica Neue", Georgia, Arial, Helvetica, sans-serif;
}

.header {
    color:#777777;
    opacity:0.5;
    padding:0.4em;
}

.banner {
    font-size:3em;
    font-weight:bold;
}

.banner a {
    color:#000000;
    text-decoration:none;
    text-shadow:1px 1px 1px #777777;
}

.banner a:visited {
    color:#000000;
    text-decoration:none;
    text-shadow:1px 1px 1px #777777;
}

a {
    color: #666666;
    text-decoration: none;
}

.panel {
    float: right;
}

.sidebar ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:disc;
}

.sidebar li {
    border-bottom:1px solid #EEEEEE;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

.menu {
    background:#EFEFEF none repeat scroll 0 0;
}
.menu ul {
    overflow:hidden;
}

.menu li {
    display: block;
    float: right;
    font-size: 1.5em;
}

.menu a {
    color:#666666;
    display:block;
    float:left;
    font-family:Georgia,serif;
    font-size:1em;
    height:30px;
    line-height:1.2em;
    padding-top:10px;
    text-align:center;
    text-decoration:none;
    width:120px;
}

.meta {
    color:#BEAA99;
    margin-left: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.post-text {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.post-title {
    margin-bottom: 0em;
}


ol{margin:0;padding:0}
p{margin:0}
.c1{line-height:1.5;text-indent:0pt;text-align:center;direction:ltr}
.c9{padding-left:0pt;line-height:1.5;direction:ltr;margin-left:36.0pt}
.c0{line-height:1.5;text-indent:0pt;direction:ltr;margin-left:18.0pt}
.c13{color:#000099;font-size:10pt;text-decoration:underline;font-family:Georgia}
.c4{line-height:1.5;text-indent:9.0pt;direction:ltr;margin-left:18.0pt}
.c2{color:#000000;font-size:10pt;font-family:Georgia;font-weight:bold}
.c10{padding-left:0pt;line-height:1.5;direction:ltr;margin-left:54.0pt}
.c6{line-height:1.5;text-indent:18.0pt;direction:ltr}
.c3{color:#000000;font-size:10pt;font-family:Georgia}
.c11{color:#000000;font-size:11pt;font-family:Courier New}
.c5{line-height:1.5;text-indent:0pt;direction:ltr}
.c7{list-style-type:disc}
.c8{padding-bottom:10.0pt}
.c12{background-color:#ffffff}
.c14{margin-left:27.0pt}
p{color:#000000;font-size:11pt;font-family:Arial}
.heading1{font-size:24pt;font-weight:bold}
.heading2{font-size:18pt;font-weight:bold}
.heading3{font-size:14pt;font-weight:bold}
.heading4{font-size:12pt;font-weight:bold}
.heading5{font-size:11pt;font-weight:bold}
.heading6{font-size:10pt;font-weight:bold}
