a {
    color: #888;
}

a:hover {
    color: #00E;
}

a:visited{
    color:#555;
}

p {
    margin: 10px 0;
}

h3 a{
    text-decoration:none;
}

html{
    min-height:101%;
}

body {
    width: 950px;
    margin: 0 auto;
    font-family: serif;
    font-size: 1.2em;
    line-height: 1.2em;
}

pre{
    border: 1px solid #ccc;
}

.container {
    display: block;
}

.header {
    margin-bottom: 10px;
    margin-top: 15px;
}

.content {
    float: left;
    margin-top: 10px;
    width: 710px;
}

.sidebar {
    float: left;
}

.sidebar ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}

.sidebar ul li a {
    background-color: #CCCCCC;
    color: #000000;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px 10px;
    margin-top: 5px;
    text-decoration:none;
    display:block;
    text-transform: uppercase;
    width:220px;
}

.sidebar ul li a:hover {
    background-color: #555;
    color: #eaeaea;
}

.banner {
    font-size: 35px;
    font-weight: bold;
    opacity: 0.4;
}

.banner a, .banner a:visited {
    color: #444444;
    text-decoration: none;
    text-shadow: 2px 2px 2px #777777;
}

.posts {
    width: 710px;
}

.paginator {
}

.post {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    padding: 10px;
    width: 690px;
    margin-bottom: 10px;
    min-height:100px;
}

.post-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-title a, .post-title:visited {
    color: #444444;
}

.post-title a:hover {
    color: #0000EE;
}

.meta {
    color: #BEAA99;
    width: 660px;
    padding: 0 15px;
    font-style: italic;
    font-size: 0.7em;
    float: left;
}

.post-text {
    font-size: 0.8em;
    margin: 4px 0;
}

.date {
    width: 150px;
    float: left;
}

.tags {
    width: 250px;
    float: left;
}

.meta a{
    float:right;
}

footer {
    border-top:3px solid #CCC;
    position:relative;
    top:10px;
    margin: 10px 0;
    clear:both;
    text-align:right;
    font-size:0.8em;
}

footer img{
    float:left;
}
