---
layout: main
---

<div class="posts">
    {% for post in paginator.posts %}
    {% if post.draft %}
    {% else %}
    {% include post.html %}
    {% endif %}
    {% endfor %}
</div>

<div class="paginator">
    {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}/{% if paginator.previous_page == 1 %}{% else %}page{{paginator.previous_page}}{% endif %}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
    {% if paginator.next_page %}
    <a href="{{ site.baseurl }}/page{{paginator.next_page}}" class="next ">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>

<script type="text/javascript">
    var disqus_shortname = 'rohanjain'; 

    (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
     }());
</script>
