<h2 class="post-title" id="{{ post.slug }}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
<div class="meta">
    <span class="date">
        <img alt="Posted on" src="{{ site.baseurl }}/images/calendar.png"/> {{ post.date | date: "%d %h, %Y" }}
    </span>
    <span class="share">
        <g:plusone size="small" href="http://{{ site.domain }}{{ site.baseurl }}{{ post.url }}"></g:plusone>&nbsp;
    </span>
    <span class="tags" >
        {% unless post.tags == empty %}
        <img alt="Tags" src="{{ site.baseurl }}/images/tag.png"/>
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tags/{{ tag }}">{{tag}}</a>
        {% endfor %}
        {% endunless %}
    </span>

    <a class="comments" href="{{ site.baseurl }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.slug }}">Comments</a>
</div>

