<div class="post">
    <h3 class="post-title" id="{{ post.slug }}"><a href="{{ site.baseurl }}{{ post.id }}.html">{{ post.title }}</a></h3>
    <div class="meta">
        <span class="date">
            <img alt="Posted on" src="{{ site.baseurl }}/images/calendar.png"/> {{ post.date | date: "%d %h, %Y" }}
        </span>
        <span class="share">
            <g:plusone size="small" href="http://{{ site.domain }}{{ site.baseurl }}{{ post.id }}.html"></g:plusone>&nbsp;
        </span>
        <span class="tags" >
            {% unless post.tags == empty %}
            <img alt="Tags" src="{{ site.baseurl }}/images/tag.png"/>
            {{ post.tags | join: ", " }}
            {% endunless %}
        </span>

        <a href="{{ site.baseurl }}{{ post.id }}.html#disqus_thread" data-disqus-identifier="{{ post.slug }}">Comments and Reactions</a>
    </div>
    <div class='post-text'>
        {% if content %}
        {{ content }}
        {% else %}
        {{ post.content }}
        {% endif %}
    </div>
</div>
