/* Space out content a bit */
html {
  /* Always show scrollbar to avoid text resize */
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Custom page footer */
.footer {
  margin-top: 10px;
  padding-top: 5px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer .link {
  padding-right: 10px;
}
.footer .credits {
  display: block;
}

.gh-banner {
  display: none;
}

.container-narrow > hr {
  margin: 30px 0;
}

#content {
  min-height: 300px;
}

.post {
  margin-top: 20px;
  line-height: 175%;
}

.post-list {
  margin-top: 20px;
}

.post-item {
  padding: 0 0 20px;
}

.post-item .post-link {
  font-size: 20px;
}

.post-item .meta {
  text-align: left;
}

.meta {
  color: #777;
  font-size: 12px;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

blockquote {
    font-size: 14px;
}

a.superTitle {
  color: #777;
}

a.superTitle:visited {
  color: #777;
}

a:visited {
  color: #23527C;
}

.figure img {
  border: 1px solid #777;
  padding: 1px;
  max-width: 600px;
  max-height: 400px;
}

.figure p.caption {
  color: #777;
  font-size: 13px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
  }

  .header nav {
    float: right;
  }

  .footer .credits {
    float: right;
  }

  #content {
    min-height: 500px;
  }
  .container {
    max-width: 768px;
  }
}

/* Don't let the banner overlap on the superTitle */
@media screen and (min-width: 900px) {
  .gh-banner {
    display: block;
  }
}
