html{
  height: 101%;
}

body {
  width: 650px;
  margin: 0px auto 0px auto;
  background: #000;
  font-family: Helvetica,sans-serif;
  line-height: 150%;
  color: #fff;
}

#content{
  min-height: 400px;
}

h1, h2, {
  margin: 15px 0 5px;
}

h3, h4, h5{
  margin: 10px 0 2px;
}

h1.title{
  font-size: 1.2em;
}

a {
    color: #009cc9;
    text-decoration: none;
}

a:visited{
    color: #006fa9;
}

a:hover {
    color: #ccc;
}

.superTitle{
  font-size: 1em;
  float: right;
  margin: 0 0 0 20px;
}

.superTitle a{
  text-decoration: none;
  color: #ccc;
}

span.meta{
  font-size:14px;
  color: #999;
}

/* pre, #post img { */
/*   /\* background: #333; *\/ */
/* } */

code {
    padding: 2px;
    border: 1px solid #777;
}
pre code {
    border: none;
    padding: none;
}
pre, blockquote, table.sourceCode {
  padding: 5px 10px;
  border: 1px solid #777;
  overflow: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.clear{
  clear:both;
}

#posts{
  clear:both;
  margin: 25px 0 0;
}

#post img{
  max-width: 400px;
  max-height: 350px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.comments{
  font-size: 0.9em;
}

#footer{
  padding: 10px 0;
  font-size: 0.9em;
  color: #666;
  text-align: right
}

#footer .link{
  float: left;
  margin-right: 15px;
}
