/* Space out content a bit */
html {
  /* Always show scrollbar to avoid text resize */
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  margin-top: 10px;
  padding-top: 5px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer .link {
  padding: 5px;
}
.footer .credits {
  float: right;
}

.gh-banner {
  display: none;
}

.container-narrow > hr {
  margin: 30px 0;
}

#content {
  min-height: 300px;
}

.small {
  font-size: 13px;
}

.post {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
}

.post-list {
  margin-top: 20px;
}

.post-item {
  padding: 0 0 20px;
}

.post-item .post-link {
  font-size: 24px;
}

.post-item .meta {
  text-align: left;
}

.meta {
  color: #777;
  font-size: 13px;
}

a.superTitle {
  color: #777;
}

a.superTitle:visited {
  color: #777;
}

a:visited {
  color: #23527C;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
  }
  #content {
    min-height: 500px;
  }
  .container {
    max-width: 768px;
  }
}

/* Don't let the banner overlap on the superTitle */
@media screen and (min-width: 900px) {
  .gh-banner {
    display: block;
  }
}
