table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; background-color: #303030; color: #cccccc; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; }
td.sourceCode { padding-left: 5px; }
pre, code {
    color: #cccccc;
    background-color: #303030;
}
pre.sourceCode span.kw { color: #f0dfaf; }
pre.sourceCode span.dt { color: #dfdfbf; }
pre.sourceCode span.dv { color: #dcdccc; }
pre.sourceCode span.bn { color: #dca3a3; }
pre.sourceCode span.fl { color: #c0bed1; }
pre.sourceCode span.ch { color: #dca3a3; }
pre.sourceCode span.st { color: #cc9393; }
pre.sourceCode span.co { color: #7f9f7f; }
pre.sourceCode span.ot { color: #efef8f; }
pre.sourceCode span.al { color: #ffcfaf; }
pre.sourceCode span.fu { color: #efef8f; }
pre.sourceCode span.er { color: #c3bf9f; }
