{{ partial "header.html" . }}
<main>
  <h1>{{ i18n "blogHeading" }}</h1>

  {{ if .Content }}
  <article>
    {{ .Content }}
  </article>
  {{ end }}

  {{ if eq .Site.Params.bloggroupby "month" }}
  {{ $.Scratch.Set "datespec" "Jan, 2006" }}
  {{ else if eq .Site.Params.bloggroupby "year" }}
  {{ $.Scratch.Set "datespec" "2006" }}
  {{ end }}

  {{ if not ($.Scratch.Get "datespec") }}
  <ul>
    {{ range .Data.Pages.ByPublishDate.Reverse }}
    {{ partial "li.html" . }}
    {{ end }}
  </ul>
  {{ else }}
  {{ range .Data.Pages.ByPublishDate.GroupByDate ($.Scratch.Get "datespec") "desc" }}
  <h2>{{ .Key }}</h2>
  <ul>
    {{ range .Pages.ByPublishDate.Reverse }}
    {{ partial "li.html" . }}
    {{ end }}
  </ul>
  {{ end }}
  {{ end }}
</main>
{{ partial "footer.html" . }}
