{{ partial "header.html" . }}

<main>
  <article>
    <header>
      {{ partial "page-heading.html" . }}

      {{ if and .Site.Params.dateformfull .Site.Params.dateform }}
      <small>
        <time datetime='{{ .Date.Format "2006-01-02" }}' title='{{ .Date.Format .Site.Params.dateformfull }}'>{{ .Date.Format .Site.Params.dateform }}</time>
        {{ if not .Site.Params.noshowreadtime }} | {{ i18n "readingTime" .ReadingTime }}{{ end }}
      </small>
      {{ else }}
      <small>
        <time datetime='{{ .Date.Format "2006-01-02" }}' title='{{ .Date.Format "Mon Jan 2 2006 15:04:05 MST" }}'>{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ if not .Site.Params.noshowreadtime }} | {{ i18n "readingTime" .ReadingTime }}{{ end }}
      </small>
      {{ end }}
    </header>

    {{ .Content }}

    {{ if .Params.tags }}
    <p>
    <strong>Tags:</strong>
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    </p>
    {{ end }}
  </article>
</main>

{{ partial "footer.html" . }}
