$partial("templates/post-meta.html")$
<div class="post">
  $partial("templates/post-content.html")$
</div>
<em class="meta">
  Any suggestions for the post? You may send me a pull request
  <a href="$source$/tree/master/$path$">here</a>.
</em>
<!--

<div class="comments">
  <div id="disqus_thread"></div>

  <script type="text/javascript">

    //Disqus
    var disqus_shortname = 'crodjer';

    var disqus_identifier = '$path$';
    var disqus_title = '$title$';

  </script>
  <script src="http://crodjer.disqus.com/embed.js"></script>
</div>

-->
