<span class="meta">by <em>$author$</em> on <strong>$date$</strong></span>
<hr class="clear"/>
<div id="post">
  $body$
</div>

<div class="comments">
  <div id="disqus_thread"></div>

  <script type="text/javascript">

    //Google analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15806710-5']);
    _gaq.push(['_trackPageview']);

    //Disqus
    var disqus_shortname = 'crodjer';

    var disqus_identifier = '$slug$';
    var disqus_title = '$title$';

  </script>
  <script type="text/javascript" src="http://crodjer.disqus.com/embed.js"></script>

  <noscript>
    Please enable JavaScript to view comments
  </noscript>

</div>
