$partial("templates/post-meta.html")$
<div class="post">
  $partial("templates/post-content.html")$
</div>
<blockquote class="small">
  Any suggestions for the post? You can change
  <a href="$source$/tree/master/$path$">it here</a>.
</blockquote>
<!--

<div class="comments">
  <div id="disqus_thread"></div>

  <script type="text/javascript">

    //Disqus
    var disqus_shortname = 'crodjer';

    var disqus_identifier = '$path$';
    var disqus_title = '$title$';

  </script>
  <script src="http://crodjer.disqus.com/embed.js"></script>
</div>

-->
