<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>crodjer's blogRoll</title>
        <meta name="author" content="Rohan Jain" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <!-- Favicon -->
        <link href="{{ site.baseurl }}/images/favicon.ico" rel="shortcut icon"/>

        <!--Stylesheets-->
        <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/css/style.css"/>
        <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/css/syntax.css"/>

        <!--Atom Feed-->
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.baseurl }}/atom.xml"/>

        <!--Google Analytics-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15806710-5']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
  </head>
  <body>
      {{ content }}
 </body>
</html>
