<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Yeban's Weblog - {{ page.title }}</title>
    <meta name="author" content="Anurag Priyam" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <!-- Favicon -->
    <link href="/images/favicon.jpg" rel="shortcut icon">

    <!--Stylesheets-->
    <link rel="stylesheet" media="screen" type="text/css" href="/css/style.css">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/syntax.css">

    <!--Atom Feed-->
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml"/>

    <!--Google Analytics-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7323172-2']);
      _gaq.push(['_setDomainName', '.yeban.in']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createelement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getelementsbytagname('script')[0]; s.parentnode.insertbefore(ga, s);
       })();
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
