<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} - {% endif %}Rohan Jain</title>
        <meta name="author" content="Rohan Jain">
        <meta charset=utf-8>

        <!-- Favicon -->
        <link href="{{ site.baseurl }}/images/favicon.ico" rel="shortcut icon"/>

        <!--Stylesheets-->
        <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/css/style.css"/>
        <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/css/syntax.css"/>

        <!--Atom Feed-->
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.baseurl }}/atom.xml"/>

        <!-- Scripts-->
        <script type="text/javascript" src="{{ site.baseurl }}/js/head.min.js"></script>
        <script type="text/javascript">
            head.js(
                "https://apis.google.com/js/plusone.js",
                "http://www.google-analytics.com/ga.js",
                "http://crodjer.disqus.com/embed.js",
                "http://crodjer.disqus.com/count.js"
            );

           //Google analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15806710-5']);
            _gaq.push(['_trackPageview']);

            //Disqus
            var disqus_developer = {% if site.auto %}1{% else %}0{% endif %};
            var disqus_shortname = 'crodjer';
            dsq.type = 'text/javascript';
            dsq.async = true;
        </script>

        <!--Google Analytics-->
        <script type="text/javascript">
        </script>
  </head>
  <body>
      {{ content }}
 </body>
</html>
