<!-- HTTPS -->
{{ if .Site.Params.forcehttps }}
<script type="text/javascript">
    var baseURL = '{{ .Site.BaseURL }}';
    var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
    if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
        window.location.protocol = 'https:';
    }
</script>
{{ end }}

<!-- CSS -->

{{ if .Site.Params.highlightjs }}
  {{ if .Site.Params.highlightjs_css_url }}
    <link rel="stylesheet" href="{{ .Site.Params.highlightjs_css_url }}">
  {{ else }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/{{ .Site.Params.highlightjsStyle | default "default" }}.min.css">
  {{ end }}
{{ end }}

{{ $pygments := resources.Get "css/pygments.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $pygments.RelPermalink }}" integrity="{{ $pygments.Data.Integrity }}">

{{ $main := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}">

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="/{{ .Site.Params.faviconfile }}"
{{ else }}
    href="/img/favicon.ico"
{{ end }}
>

<!-- RSS -->
{{ $RSSLink := "" }}
{{ with .OutputFormats.Get "RSS" }}
{{ $RSSLink = .RelPermalink }}
{{ end }}
{{ if and .Site.Params.include_rss $RSSLink }}
  <link href="{{ $RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

<!-- gitalk -->
{{ if .Site.Params.gitalk }}
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
{{ end }}
<!-- End gitalk Code -->
