<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body lang="{{ .Site.Params.lang }}">
    <header>
      <a {{ printf "href=%q" ("/" | relLangURL) | safeHTMLAttr }}>{{ .Site.Title }}</a>
      {{ with .Site.Params.selfintro }}<p>{{ . }}</p>{{ end }}
      <nav>
        <ul>
          {{ range .Site.Menus.main }}
          {{/* TODO: use relLangURL instead of absLangURL? */}}
          <li><a href="{{ .URL | absLangURL }}">{{ .Pre }}{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </header>
